<footer>
    <hr>
    <div class="container-fluid" data-aos="flip-up">
        <div class="col" data-aos="fade-up">
            <h2 class="logo">ShediQuery</h2>
            <p>Your favourite online store that brings you only the best selection of goods and services</p>
        </div>
        <div class="col" data-aos="fade-up">
            <ul>
                <h5>Categories</h5>
                <li><a href="">Furniture</a></li>
                <li><a href="">Sports</a></li>
                <li><a href="">Grocery</a></li>
                <li><a href="">Acessories</a></li>
                <li><a href="">Electronics</a></li>
                <li><a href="">Clothing</a></li>
            </ul>
        </div>
        <div class="col" data-aos="fade-up">
            <ul>
                <h5>About Us</h5>
                <li><a href="">About ShediQuery</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">News & Blog</a></li>
                <li><a href="">Career</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="col" data-aos="fade-up">
            <ul>
                <h5>Services</h5>
                <li><a href="">Delivery</a></li>
                <li><a href="">Wholesale</a></li>
                <li><a href="">Mobile App</a></li>
                <li><a href="">Coupons</a></li>
            </ul>
        </div>
        <div class="col" data-aos="fade-up">
            <ul>
                <h5>Help</h5>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Track Orders</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p class="copyright">All Rights Reserved by <b>ShediQuery</b>&copy; 2023</p>
</footer>